<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Basic Hibernate properties -->
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=BEAUTYSTORE;trustServerCertificate=true;encrypt=true</property>
		<property name="hibernate.connection.username">minhhien</property>
		<property name="hibernate.connection.password">minhhien</property>

		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- C3P0 Connection Pool Configuration -->
		<property name="hibernate.use_sql_comments">true</property>
		<!-- mapping -->
		<mapping class="models.Account" />
		<mapping class="models.BankAccount" />
		<mapping class="models.Brand" />
		<mapping class="models.CartItem" />
		<mapping class="models.Customer" />
		<mapping class="models.Gallery" />
		<mapping class="models.Orders" />
		<mapping class="models.OrderDetails" />
		<mapping class="models.OrderItem" />
		<mapping class="models.OrderDate" />
		<mapping class="models.OrderState" />
		<mapping class="models.PaymentMethod" />
		<mapping class="models.Product" />
		<mapping class="models.AttributeKey" />
		<mapping class="models.AttributeValue" />
		<mapping class="models.TopicProduct" />
		<mapping class="models.ProductCategory" />
		<mapping class="models.TopicCategory" />
		<mapping class="models.ProductAttributes" />
		<mapping class="models.Topic" />
		<mapping class="models.Voucher" />
	</session-factory>
</hibernate-configuration>
