/* Image Container */
.product-image-container {
    width: 90px;
    height: 123px;
    overflow: hidden;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Product Card */
.product-card {
    width: 595px;
    height: 123px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Product List */
.product-list {
    width: 635px;
}

/* Product Info */
.product-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* Total Price */
.total-price {
    font-weight: bold;
    color: #d9534f;
}

/* Quantity Control Buttons */
.quantity-controls {
    display: flex;
    gap: 0;
    align-items: center;
}

/* Quantity Button */
.quantity-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
}

.quantity-btn i,
.quantity-btn span {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 40px;
}

/* Product Image Card (Right Column) */
.product-image-card {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

/* Card Item */
.product-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Định dạng cho trường nhập liệu */
.form-control {
    position: relative;
    padding-top: 20px;
    /* Tạo khoảng cách cho placeholder */
}

/* Định dạng cho trường nhập liệu */
.form-control {
    position: relative;
    padding-top: 20px;
    /* Tạo khoảng cách cho placeholder */
}
.visa {
    font-size: 1rem; font-weight: bold; color: #1a1f71;}
.wallet-icon{
    color: green;
}
.card-icon{
    color: orange;
}


