@charset "UTF-8";

.logo {
	width: 236px;
	height: 59px;
	font-family: 'Dancing Script', cursive;
	font-size: 68px;
	font-weight: bold;
	color: #333
}

/* Header Styles */
header {
	background-color: gray;
	/* color: white; */
	padding: 15px 0;
	transition: background-color 0.3s ease;
	/* Smooth transition for background */
}

/* Menu */
.navbar-nav {
	margin-left: auto;
}

.nav-link {
	color: white !important;
	font-weight: 600;
	text-transform: uppercase;
	padding: 10px 20px;
	transition: color 0.3s ease;
	/* Smooth transition for text color */
}

.nav-link:hover {
	color: #090908 !important;
	border-radius: 5px;
}

/* Tools Section */
.tools i {
	font-size: 1.5rem;
	color: white;
	margin-left: 20px;
	cursor: pointer;
	transition: color 0.3s ease;
	border-left: 1px solid #ccc;
	/* Adjust color and thickness as needed */
	padding-left: 20px;
	/* Space between the border and the icons */
}

/* Change icon color to black when header is hovered */
header:hover .tools i {
	color: black !important;
}