
/* Logo */
.logo {
    width: 236px;
    height: 59px;
    font-family: 'Dancing Script', cursive;
    font-size: 68px;
    font-weight: bold;
    color: white; /* Màu chữ logo mặc định */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s ease, transform 0.3s ease; /* Thêm hiệu ứng mượt cho màu và kích thước */
  }
  
  /* Hiệu ứng hover cho logo */
  .logo:hover {
    color: #F2CD95; /* Màu chữ logo khi hover */
    transform: scale(1.1); /* Phóng to logo khi hover */
  }
  
  
  /* Header Styles */
  header {
    background-color: #222; /* Màu nền tối hơn */
    padding: 20px 0; /* Thêm không gian trên và dưới */
    transition: background-color 0.3s ease; /* Hiệu ứng chuyển nền mượt */
    display: flex;
    justify-content: space-between;
    align-items: center; /* Căn chỉnh các phần tử theo chiều dọc */
    padding-left: 30px;
    padding-right: 30px;
  }
  
  /* Menu */
  .navbar-nav {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  
  .nav-link {
    color: white !important; /* Màu chữ mặc định */
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: color 0.3s ease; /* Hiệu ứng chuyển màu chữ */
    text-align: center;
  }
  
  .nav-link:hover {
    color: #F2CD95 !important; /* Màu chữ khi hover */
    border-radius: 5px;
    background-color: transparent; /* Giữ nền trong suốt, không thay đổi */
  }
  
  /* Tools Section */
  .tools {
    display: flex;
    align-items: center;
  }
  
  .tools i {
    font-size: 1.5rem;
    color: white;
    margin-left: 20px;
    cursor: pointer;
    transition: color 0.3s ease; /* Hiệu ứng chuyển màu khi hover */
    border-left: 1px solid #ccc; /* Đường viền ngăn cách */
    padding-left: 20px;
  }
  
  header:hover .tools i {
    color: #F2CD95 !important; /* Đổi màu icon khi hover header */
  }
  