@charset "UTF-8";

:root {
	--color-primary: #F2CD95;
}

.img-80px {
	width: 80px;
	height: 80px;
	object-fit: cover;
}

.img-40px {
	width: 40px;
	height: 40px;
	object-fit: cover;
}

.no-transition {
	transition: none !important;
}

.cursor-pointer {
	cursor: pointer;
}

.cursor-default {
	cursor: default;
}

.fs-15rem {
	font-size: 1.5rem;
}

.img-300px {
	width: 300px;
	height: 300px;
	object-fit: contain;
}

.h-395px {
	height: 395px !important;
	;
}

.hover-dark {
	border: 1px solid transparent;
}

.hover-zoom img {
	transform: scale(1);
	transition: transform 0.5s;
}

.hover-zoom:hover img {
	transform: scale(1.1);
}

.hover-dark:hover {
	border: 1px solid black;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-link {
	text-decoration: none;
}

.btn-link:hover {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

.collapse-content {
	width: 100% !important;
}