<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>WebMyPham</display-name>

	<welcome-file-list>
		<welcome-file>views/login/login.jsp</welcome-file>
	</welcome-file-list>
	<!-- Apache tiles -->
	<!-- Định nghĩa tiles configuration -->
	<context-param>
		<param-name>org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG</param-name>
		<param-value>/WEB-INF/tiles.xml</param-value>
	</context-param>
	<!-- Tiles listener để khởi tạo và quản lý Tiles container -->
	<listener>
		<listener-class>org.apache.tiles.web.startup.simple.SimpleTilesListener</listener-class>
	</listener>

	<!-- Servlet để xử lý các request Tiles -->
	<servlet>
		<servlet-name>tilesDispatch</servlet-name>
		<servlet-class>org.apache.tiles.web.util.TilesDispatchServlet</servlet-class>
	</servlet>
	<!-- Mapping cho Tiles servlet -->
	<servlet-mapping>
		<servlet-name>tilesDispatch</servlet-name>
		<url-pattern>/tiles/*</url-pattern>
	</servlet-mapping>

</web-app>